.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--main-blue), var(--main-orange));
}

.content {
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 10% 10%;
  justify-items: center;
  align-items: center;
}

.progressBar {
  position: relative;
  margin: 2rem 0 0;
  height: 20px;
  width: 30%;
  border: 0.25rem solid var(--main-color);
  border-radius: var(--main-radius);
}
.filler {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  border-radius: var(--main-radius);
  transition: var(--main-transition);
}

.surveyItems {
  position: relative;
  width: 400px;
  aspect-ratio: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  padding: 1rem;
  position: relative;
  width: 400px;
  aspect-ratio: 2/3;
  display: grid;
  grid-template-rows: 5% 25% 50% 1fr;
  gap: 1rem;
  border-radius: var(--main-radius);
  background: var(--item-color);
  animation-name: reveal;
  animation-duration: 0.5s;
}
.results h1 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--item-text-color);
}
.results h2 {
  margin: 0 0 1rem;
  font-size: 1.25rem;
  color: var(--item-text-color);
}

.gender,
.age {
  display: flex;
  flex-direction: column;
}

.submit {
  margin: auto;
  height: 80%;
  width: 80%;
  color: var(--item-text-color);
  font-size: 1rem;
  border: none;
  background-color: var(--transparent-white);
  border-radius: var(--main-radius);
  cursor: pointer;
  transition: var(--main-transition);
}
.submit:hover {
  color: var(--main-color);
  background: var(--hover-background);
}

.radioButton {
  position: relative;
  margin: 0 0 1rem;
  padding: 0 2.5rem 0;
  justify-content: center;
  color: var(--item-text-color);
}
.radioButton input {
  position: absolute;
  opacity: 0;
}
.checker {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: solid 4px var(--item-text-color);
  border-radius: 50%;
  cursor: pointer;
}
.radioButton input:checked ~ .checker:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--item-text-color);
}

.actions button {
  margin: 2rem;
  height: 60px;
  width: 60px;
  background: none;
  border: solid 5px var(--main-color);
  border-radius: 50%;
  transition: var(--main-transition);
}
.actions button:hover {
  border: solid 5px var(--hover-background);
}
.actions button svg {
  height: 60%;
  pointer-events: none;
}
.actions button:hover path {
  fill: var(--hover-color);
}

@keyframes reveal {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
