.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introText {
  width: 100%;
  margin: 0em 0em 2em;
  text-align: center;
}

.quickNavButtons {
  padding: 0em 6em 0em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
